<section class="footer">
    <div id="button-container">
        <div id="butt-set-1" class="control-button-group active">
            <button class="control-button" id="start">
                Старт
            </button>
        </div>
        <div id="butt-set-2" class="control-button-group">
            <button class="control-button" id="lap">
                Круг
            </button>
            <button class="control-button" id="pause">
                Пауза
            </button>
        </div>
        <div id="butt-set-3" class="control-button-group">
            <button class="control-button" id="reset">
                Сброс
            </button>
            <button class="control-button" id="continue">
                Далее
            </button>
        </div>
    </div>
</section>